.logo {
  width: 34px;
  height: 11px;
  margin: 3px 19px 3px 1px;
  border: solid 1px #fff;
  background-color: #fff;
}

.black {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

