.overlay {
  position: fixed;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: #FFF;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
}
.info-container {
  margin: 40px 60px 0px 60px;
}
.info {
  width: clamp(100%,50%,50%);
  display: grid;
  grid-template-columns: 1fr 8fr;
  color: #070707;
  font-family: Montserrat;
  font-size: 15.5px;
  font-weight: 300;
}
.info .item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
}

.info .item3 {
  color: #8c8c8c;
}
.genre-container {
  display: flex;
}
.genre {
  width: 142px;
  height: 40px;
  border: solid 1px var(--black-three);
  background-color: #070707;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 5px 0px 0px;
}
.modal iframe {
  border: none;
  width: 1fr;
  height: 30vw;
  margin: 0px 60px;
}
.horizontal-rule {
  border-bottom: 1px solid #efefef;
  margin: 50px 0px;
}
.summary {
  font-size: 14px;
  font-family: Montserrat;
  padding: 40px clamp(20px,5vw,60px) 100px clamp(20px,5vw,60px);
}
.modal img {
  width: 80%;
  margin: 0px auto 70px auto;
}

.button {
  position: fixed;
  z-index: 20;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #FFF;
}

.button.close {
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.button.next {
  top: 50%;
  right: 5%;
  font-size: clamp(10px,5vw,74px);
}

.button.prev {
  top: 50%;
  left: 5%;
  font-size: clamp(10px,5vw,74px);
}